.new-post-container{
    display: flex;
    flex-direction: column;

    form{
        margin-bottom: 20px;
        
        input[type='file']{
            display: none;
        }

        input.mat-flat-button{
            background-color: #4e0561;
            width: 100%;
            color: #fff;

            &:hoover{
                background-color: #3c034b;
            }
        }

        

        .container-input-file{
            margin: 2rem 0;

            .custom-file{
                border: 1px solid rgba(75, 8, 75, 0.788);
                display: inline-block;
                padding: 6px 0;
                cursor: pointer;
                width: 100%;
            }
        }

        .container-button{
            min-height: 80px;
        }

        mat-form-field{
            width: 100%;
        }
    }
}